/* Container */

.Estate-Title{
    font-weight: bold;
}

.Estate-Container{
    padding: 0.7rem;
    background-color: rgb(184, 184, 184);
}

.Estate-Container{
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
}

.Label-Color{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}   

.State-Design{
    font-weight: 600;
}


/* filter */

.Filter-Container{
    padding: 0.7rem;
    background-color: rgb(184, 184, 184);
    margin-bottom: 1rem;
}









/*  Table  */








